[Unit]
Description=PoS service
After=network.target

[Container]
Image=quay.io/luisarizmendi/tailwind-pos:latest
PublishPort=8080:8080

[Install]
WantedBy=multi-user.target default.target